@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Bree+Serif&family=Herr+Von+Muellerhoff&display=swap');

$ffcom: 'Baloo Tamma 2', cursive;
$ffser: 'Bree Serif', serif;
$fflog: 'Herr Von Muellerhoff', cursive;

$color1: #f3c499;

body {
  margin: 0;
  padding: 0;
  background: rgb(31, 31, 31);
  background: linear-gradient(
    0deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(60, 60, 60, 1) 100%
    );
}

canvas, #scene-container  {
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.background__img {
  position: absolute;
  z-index: 0;
  top: 0; 
  left: 0; 

  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: none;
}

.subwrapper {
  margin: 0 auto;
  max-width: 1200px;
}



/**
* HEADER
*/

.header {

  & .header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 5;

    &__item {
      transition: transform 150ms ease-in-out;
    }

    // &__item:not(.header-list__item--not):hover {
    //   background-color: rgba(255, 255, 255, 0.2);
    //   transform: skewY(5deg);
    // }

    &__item:first-child {
      position: relative;
    }

    &__item:first-child a {
      font-family: $fflog;
      font-size: 2.5rem;
      color: $color1;
      padding-left: 0;
    }
    
    &__item a {
      color: #ffffff;
      text-decoration: none;
      padding: 20px 20px;
      display: inline-block;
      font-family: $ffcom;
    }

    &__item:last-child {
      margin-left: auto;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__item:last-child:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

  }
}

/**
* MAIN
*/

.main {
  margin-top: 150px;
  color: #ffffff;  

  &__subtitle {
    font-size: 1.4rem;
    font-family: $ffcom;
  }

  &__subsection {
    margin: 50px 0;
  }
  
  &__title {
    font-size: 4.8rem;
    font-family: $ffser;
    text-transform: uppercase;
    color: $color1;
    max-width: 400px;
    margin: 20px 0;
    padding: 0;
  }

  &__date {
    font-size: 0.9rem;
    font-family: $ffcom;
  }

}

/**
* FOOTER
*/

.footer {

  &__list {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1200px;
  }

  &__list__item a {
    color: #616161;
    text-decoration: none;
    padding: 20px 20px;
    display: inline-block;
    font-family: $ffcom;

    &:hover {
      color: $color1;
    }
  }

  &__list__item:last-child {
    margin-left: auto;
  }
}

/*
* Custom Cursor
*/
.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this {
  transition: all 0.3s ease;
}

.hover-this span {
  display: inline-block;
  pointer-events: none;
  transition: transform 0.1s linear;
}

/*
* NAVIGATION
*/

nav {
  perspective: 2500px;
}

nav > .swiper-slide {
  opacity: 0.1;
  transform: scale(0.8);
  transition: all 400ms ease;
}

nav > .swiper-slide-prev, nav > .swiper-slide-next  {
  opacity: 0.1;
  transition: all 100ms ease;
}

nav > .swiper-slide-active {
  opacity: 1.0;
  transform: scale(1.0);
}